.hero{
  min-height: 100vh;
  width: 100%;
  background: url('../Assets/cds.webp');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  margin: 70px auto;
}
.hero-text{
  padding-top: 50px;
  max-width: 800px;
  text-align: center;
}
.hero-text h1{
  font-size: 53px;
  font-weight: 768;
  color: rgb(4, 126, 171);
  border-bottom: 4px solid #ffffff;
  padding: 20px 120px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}
 .hero-text h5{
  font-size: 24px;
  font-weight: 650;
  color: rgba(211, 75, 12, 0.838);
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  margin-left: 28px;
  margin-top: 10px;
}
.hero-text p{
  width: 100%;
  max-width: 780px;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
  margin-top: 18px;
  margin-bottom: 10px;
}  
.btn{
  display: inline-flex;
  padding: 14px 20px;
  background: #ffffff;
  color: rgb(105, 49, 49);
  font-size: 22px;
  font-weight:500;
  /* border-radius: 40px; */
  margin-top: 20px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all .5s;
  align-items: center;
  justify-content: center;
}
.btn:hover{
  background: rgb(150, 150, 156);
}
.btn img{
  width: 30px;
  margin-left: 10px;
}

/* media */
@media (max-width: 850px) {
   .hero-text h1{
    font-size: 40px;
   }
}
@media (max-width: 650px) {
  .hero-text h1{
   font-size: 28px;
   max-width: 600px;
   margin: auto;
  }
  .hero-text h5{
    font-size: 14px;
    justify-content: center;
    max-width: 100vw;
  }
  .hero-text p{
    max-width:100vw;
    font-size: 16px;
    margin: 15px auto 30px;
    padding: 20px;
  }
}
@media (max-width: 450px) {
  .hero-text p{
   padding: 20px;
   font-size: 21px;
  }
  .hero-text h1{
   align-items: center;
   padding-left: 74px;
  }
  .hero-text h5{
    justify-content: center;
    font-size: 21px;
  }
}