
.navbar{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  /* justify-items: center; */
  align-items: center;
  box-shadow: 0 1px 3px -2px rgb(32 33 36);
  padding: 16px 40px;
  z-index: 1;
}
.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo img{
  width: 100px;
}
.nav-menu{
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #0000;
  font-size: 22px;
  font-weight: 500;   
  cursor: pointer;
}
.nav-menu hr{
  border: none;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: rgb(16, 120, 165);
}
.nav-login{
   display: flex;
   align-items: center;
}
.nav-login button{
  width: 150px;
  height: 58px;
  outline: none;
  border: 2px solid rgb(58, 83, 174);
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: rgb(21, 19, 19);
  cursor: pointer;
  transition: 0.3s;
}
.nav-login button:hover{
  background: rgb(52, 102, 107);
}
.navbar .active{
   padding-bottom: 2px;
   border-bottom: 4px solid black;
}

.nav-toggle {
  display: none; /* Hidden on larger screens */
  font-size: 1.5rem;
  cursor: pointer;
}
.mobile{
  display: none;
}
.nav-menu-open{
  display: none;
}
@media (min-width:320px ) and (max-width: 1050px) {
  .nav-login{
    display: none;
  }
/* Media Query for small screens */
/* @media (max-width: 768px) { */ */
  .nav-login button{
    display: none;
    width: 150px;
    height: 58px;
    outline: none;
    border: 2px solid rgb(58, 83, 174);
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: rgb(21, 19, 19);
    cursor: pointer;
    transition: 0.3s;
  }
  .mobile_nav-login{
    /* width: 50px; */
    width: auto;
    align-items: center;
    max-width: 50vw;
    min-width: 100px;
    outline: none;
    border: 2px solid rgb(58, 83, 174);
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: rgb(21, 19, 19);
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
  }
  .mobile_nav-login a{
    text-align: center;
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 1rem;
  }
  .nav-logo img{
    width: 50px;
  }
  .nav-menu-open {
    display: flex;
    background-color: rgb(187, 178, 178);
    flex-direction: column;
    padding: 40px 15px;
    position:fixed;
    width: 100%;
    top: 77.9px;
    gap: 40px;
    margin-left: -40px;
    height: 100vh;
    transition: 0.5s;
  } 

   .nav-toggle {
    display: block;
  }
}

